<!doctype html>
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>Indexing the Globe</title>
</head>

<body>

  <div class="container">
    <h3>Indexing the Globe</h3>
    <p>built upon the data sets from <a href="http://www.geonames.org">geonames.org</a>, providing services such as proximity query (find cities close in geographical distance) and lexical query (search by matching keywords)</p>
  </div>

  <div class="container">
    <ol class="breadcrumb">
      <li class="active">home</li>
    </ol>
  </div>

  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="/">Home</a></li>
      <li role="presentation"><a href="search">Lexical Query</a></li>
    </ul>
  </div>

</body>


</html>