<!doctype html>
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>search -- Indexing the Globe</title>
</head>

<body>

  <div class="container">
    <h3>Lexical Search -- Indexing the Globe</h3>
  </div>

  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/">home</a></li>
      <li class="active">search</li>
    </ol>
  </div>

  <div class="container">
    <form id="search" method="GET" action="/search">
      <div class="form-group" style="height: 100%; width:10px"></div>
      <div class="form-group">
        <label for="query">Key words</label>
        {% if prev_query %}
        <input type="text" class="form-control" name="query" id="query" placeholder={{prev_query.decode('utf-8')}}>
        {% else %}
        <input type="text" class="form-control" name="query" id="query" placeholder="San Francisco">
        {% endif %}
      </div>
      <div class="form-group" style="height: 100%; width:30px"></div>
      <button type="submit" class="btn btn-primary">Search!</button>
    </form>
  </div>

  <div style="height: 10px; width:100%"></div>

  <div class="container">
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Population</th>
      </tr>
      {% for c in cities %}
      <tr>
      <td><a href="city?cid={{c['cid']}}">{{c['name'].decode('utf-8')}}</a></td>
      <td>{{c['cc']}}</td>
      <td>{{c['pop']}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <div style="height: 10px; width:100%"></div>

</body>

</html>